.App {
  display: flex;
}

.sidebar {
  color: #fff;
  background-color: #282c34;
  width: 20vw;
  padding: 0 20px;
}

.sidebar .modes {
  display: flex;
  flex-direction: column;
}

.main {
  color: #282c34;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
}

.main h2 {
  text-transform: capitalize;
}

select {
  height: 30px;
  margin: 0 8px;
}

.chords-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.card {
  border: solid 1px #282c34;
  border-radius: 4px;
  padding: 0 16px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card.hidden {
  border: 1px solid transparent;
}

.card.hidden * {
  display: none;
}

.card p:first-of-type {
  margin-top: 16px;
}

.card p {
  margin: 0 0 16px 0;
}

.mobileOnly {
  display: none;
}

@media (orientation: portrait) {
  .main {
    margin-top: 130px;
  }
  .sidebar {
    display: none;
  }
  .title {
    display: none;
  }
  .mobileOnly {
    display: block;
    padding: 10px 20px;
    background-color: #282c34;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .chords-section {
    display: flex;
    flex-flow: row wrap;
  }
  .card {
    width: calc(100% / 7);
  }
}
